{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bienvenido" %}{% endblock %}

{% block body %}
    <h1>{% trans "Bienvenido"%}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "Algunas operaciones que puede realizar en el sistema son:" %}</p>
        
        <dl class="what_next">
            <dt><a href="{% url acct_email %}">{% trans "Verifica tu dirección email." %}</a></dt>
            <dd>{% trans "Para poder recibir notificaciones, reiniciar tu contraseña."%}</dd>
            
            <dt><a href="{% url detalle_perfil user %}">{% trans "Completa tu perfil." %}</a></dt>
            <dd>{% trans "completa tu perfil y da a conocer acerca de ti." %}</dd>
            
            <dt><a href="{% url mic_index %}">{% trans "Microblog." %}</a></dt>
            <dd>{% trans "Entérate de las actividades de tus amigos." %}</dd>

            <dt><a href="{% url todo-lists %}">{% trans "List de tareas."%}</a></dt>
            <dd>{% trans "Crea y modifica la lista de tareas en tus repositorios."%}</dd>

            <dt><a href="{% url xmlrpc %}">{% trans "API" %}</a></dt>
            <dd>{% trans "Entérate de las funciones ofrecidas mediante Xml-rpc."%}</dd>
        </dl>
        {% else %}
            {% url acct_registro as registro_url %}
            {% url acct_login as login_url %}
            
            <p class="what_next">{% blocktrans %}Start by <a href="{{ registro_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}</p>
        {% endif %}
{% endblock %}
