{% extends "microblog/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Buscar otros usuarios" %}{% endblock %}

{% block body %}{{ block.super }}


<div class="box">
    <h2>{% trans "Search Result" %}</h2>
    <form>
        <table class="form">
            {{ form }}
            <tr><th>&nbsp;</th><td><input type="submit" value="{% trans "Find" %}"/></td></tr>
        </table>
    </form>
</div>

{% if found_users.count %}
<div class="users">
    <h2>{% trans "Found other" %}</h2>

    {% with usuarios_encontrados as usuarios %}
        {% include "microblog/lista_usuarios.html" %}
    {% endwith %}
</div>
{% else %}
<p>
{% trans "User not found" %}
</p>
{% endif %}

{% endblock %}
