{% extends "microblog/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block head_title %}Microblog{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        <div id="entries">
            <img src="/site_media/png/Chat 2.png" /><h1>Microblog global</h1>
            <div class="enviar_mensaje">
                {% include "microblog/adicionar_entrada_form.html" %}
            </div>
            {% if entradas.count %}
                <h2>{% trans "Mensajes recientes:" %}</h2>
                {% autopaginate entradas 10 %}
                {% for entrada in entradas %}
                    {% ifchanged %}
                        <li class="date"><h3>{{entrada.fecha|date:"l, j F Y"}}</h3></li>
                    {% endifchanged %}
                    <div class="entrada" id="entrada_{{ entrada.id }}">
                        <cite>
                            <a href="{% url detalle_perfil user.username %}">{{ entrada.user }}</a>
                            {% trans "hace" %}
                            {{ entrada.fecha|timesince }}
                            :
                        </cite>
                        <div id="caja">
                        <div class="redondeadoc r1"></div>
                        <div class="redondeadoc r2"></div>
                        <div class="redondeadoc r3"></div>
                        <div class="redondeadoc r4"></div>
                        <div class="redondeadoc r5"></div>
                        <div class="redondeadoc r6"></div>
                        <div class="redondeadoc r7"></div>
                        <div class="redondeadoc r8"></div>
                        <div class="redondeadoc r9"></div>
                        <div class="redondeadoc contenido">{{ entrada.contenido|striptags|truncatewords:"140"|linebreaksbr|urlize }}</div>
                        <div class="redondeadoc r9"></div>
                        <div class="redondeadoc r8"></div>
                        <div class="redondeadoc r7"></div>
                        <div class="redondeadoc r6"></div>
                        <div class="redondeadoc r5"></div>
                        <div class="redondeadoc r4"></div>
                        <div class="redondeadoc r3"></div>
                        <div class="redondeadoc r2"></div>
                        <div class="redondeadoc r1"></div>
                        </div>
                    </div>
                    {% comment %}
                        <a class="mostrar_recipientes" href="#entrada_{{ entrada.id }}">[{% trans "recipientes" %}]</a>            
                            <ul class="recipientes">
                                {% for recipiente in entrada.recipientes.all %}
                                    <li><a href="{{ recipiente.get_absolute_url }}">{{ recipiente }}</a></li>
                                {% endfor %}
                            </ul>
                    {% endcomment %}
                {% endfor %}
            {% paginate %}
            {% else %}
                <p>{% trans "Aun no tienes ningun mensaje." %}</p>
            {% endif %}
        </div>
        <div id="right-microblog">
            <div class="conexiones">
                <h2>Conexiones</h2>
                {% if conexiones.count %}
                    {% include "microblog/lista_conexiones.html" %}
                {% else %}
                    <p>{% trans "Aun no tienes conectados" %}</p>
                {% endif %}
            </div>
            <div id="asic-form">
                {% include "microblog/conectar_amigo_form.html" %}
            </div>
            <p class="clear"><span class="warning">{% trans "warning:" %} </span>{% trans  "Las publicaciones realizadas en este microblog, seran vistas por todos tus amigos conectados previamente autorizados por ti." %}				
            </p>
            {% if latest_users %}
                <p>
                    <h2>{% trans "Ultimos usuarios registrados"%}</h2>
                    <ul>
                        {% for usuario in latest_users %}
                            <li><a href="{% url detalle_perfil usuario.user.username %}">{{ usuario.user.username }}</a></li>
                        {% endfor %}
                    </ul>
                </p>
        {% endif %}
        </div>
    {% else %}
        {% trans "No estas logeado" %}
    {% endif %}
{% endblock %}