{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "To Do" %}{% endblock %}

{% block extra_head %}
<!-- CSS and JavaScript for django-todo -->
<link type="text/css" href="/site_media/todo/css/styles.css" rel="stylesheet" />
<script src="/site_media/js/ui.datepicker.js" type="text/javascript"></script>
<script src="/site_media/todo/js/jquery.tablednd_0_5.js" type="text/javascript"></script>
<link type="text/css" href="/site_media/js/jquery-ui-1.7.1.custom.css" rel="stylesheet" />

<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}),});
     });
</script>
{% endblock %}
