{% extends "todo/base.html" %}

{% load i18n %}

{% block title %}{{ list_title }} {% trans "to-do items" %}{% endblock %}

{% block body %}

{% ifequal can_del 1 %}


    {% if list_killed %}

       <p> {{ list.name }}{% trans " is gone." %}</p>
   
        <a href="{% url todo-lists %}">{% trans "Return to lists" %}</a>   

    {% else %}

        <h1>{% trans "Delete entire list" %}: {{ list.name }} ?</h1>

        <p>{% trans "Category tally"%}:</p>

         <ul>   
            <li>{% trans "Incomplete" %}: {{ item_count_undone }} </li>
            <li>{% trans "Complete" %}: {{ item_count_done }} </li>
            <li><strong>{% trans "Total" %}: {{ item_count_total }}</strong> </li>
         </ul>   
 
        <p> ... {% blocktrans %} all of which will be irretrievably <strong>blown away</strong>. Are you sure you want to do that? {% endblocktrans %}</p>

        <form action="" method="post" accept-charset="utf-8">
 
            <input type="hidden" name="list" value="{{ list.id }}" id="some_name">
         <p><input type="submit" name="delete-confirm" value="{% trans "Do it!" %} &rarr;" class="todo-button"> </p>
        </form>


        <a href="{% url todo-incomplete_tasks list.grupo.id list.id list_slug %}">{% trans "Return to list" %}: {{ list.name }}</a>

    {% endif %}


{% else %}

    <p>{% trans "Sorry, you don't have permission to delete lists. Please contact your group administrator" %}.</p>

{% endifequal %}
	
{% endblock %}