{% extends "todo/base.html" %}

{% load i18n %}

{% block title %}{{ list_title }} {% trans "Todo Lists" %}{% endblock %}

{% block body %}

   <h1>{% trans "To-do Lists" %}</h1>
   
   <p>{{ item_count }} {% trans "items in" %} {{ list_count }} {% trans "lists" %}</p>

   	<ul class="mainlist">
   		{% for list in list_list %}
   	        <li><a class="todo" href="{% url todo-incomplete_tasks list.grupo.id list.id list.slug %}">{{ list.name }} - {{ list.grupo }}</a></li>
   	        {% endfor %}
   	</ul>

    <div class="todo-break">
    &nbsp;
    </div>

    <h2>{% trans "Add a list" %}:</h2>
    
	<form action="." method="POST">	
	<table>{{ form }}</table>
	<p><input type="submit" value={% trans "Submit" %} class="todo-button"></p>
	</form>
	
{% endblock %}