{% extends "todo/base.html" %}

{% load i18n %}

{% block title %}{% trans "Todo List" %}: {{ list.name }}{% endblock %}

{% block body %}

<script type="text/javascript">

function order_tasks(data) {
    // The JQuery plugin tableDnD provee una funcion serialize() funcion que provee el reordenador
    // de datos en una lista. pasamos la lista como un objeto llamado "data" a la vista de Django 
    // para guardar los datos de reordenados a la base de datos.

    $.post("{% url todo-reorder_tasks %}", data, "json");
    return False;
};

$(document).ready(function() {
    // Inicializa la tabla de tareas para el reordenamiento drag/drop
    $("#tasktable").tableDnD();
    
    $('#tasktable').tableDnD({
        onDrop: function(table, row) {
            order_tasks($.tableDnD.serialize());
        }
    });
    
    // Inicializa escondida el link de adicionar tarea
    $('#AddTask').hide();
    
    // despliega el contenido cuando se da click en adicionar tarea
    $('#slideToggle').click(function(){
        $(this).siblings('#AddTask').slideToggle();
    });
});

</script>


    {% ifequal list_slug "mine" %}
        <h1>{% trans "Tasks assigned to" %} {{ request.user }}</h1>    
    {% else %}
    {% ifequal auth_ok 1 %}
       <h1>{% trans "Tasks filed under" %}"{{ list.name }}"</h1>
       <p>{% trans "This list belongs to repository" %} {{ list.group }}</p>
    {% endifequal %}
    {% endifequal %}

 
   {% if messages %}
    <ul class="messages">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
    </ul>
   {% endif %}   


   {% ifequal auth_ok 1 %}
   <form action="" method="POST">
   
   {# Only show task adder if viewing a proper list #}
   {% ifequal can_del 1 %}
   {% ifnotequal list_slug "mine" %}
   <h2 style="margin-bottom:0px;" id="slideToggle" >&rarr; Click to add task &larr;</h2>
   
   <div id="AddTask">	    
	    <table class="nocolor" border="0" cellspacing="5" cellpadding="5">
	       <tr>
	           <td>{{ form.title.errors }}</td>
	           <td>{{ form.due_date.errors }}</td>
	       </tr>
	       <tr>
	           <td><label for="id_title">{% trans "Task" %}:</label> {{ form.title }}</td>
	           <td><label for="id_due_date">{% trans "Due date" %}:</label> {{ form.due_date }}</td>
	           <td><label for="id_assigned">{% trans "Assign to" %}:</label> {{ form.assigned_to }}</td>
	           <td><label for="id_notify">{% trans "Notify*" %}:</label> <input type="checkbox" checked="checked" name="notify" value="1" id="notify"></td>
 	       </tr>
	       <tr>
	           <td colspan="5"><label for="id_note">{% trans "Note:" %}</label> {{ form.note }}
	               <p class="minor">*{% trans "Email notifications will only be sent if task is assigned to someone besides yourself." %}</p>
	           </td>
 	       </tr> 	       
	    </table>
	
        <input type="hidden" name="priority" value="999" id="id_priority">
        <input type="hidden" name="created_by" value="{{ request.user.id }}" id="id_created_by">
        <input type="hidden" name="list" value="{{ listid }}" id="id_list">
        <input type="hidden" name="created_date" value="{{ created_date }}" id="id_created_date">	        
	    
	    <p><input type="submit" name="add_task" value="Add task" class="todo-button"></p>
    </div>	    
    {% endifnotequal %}
    {% endifequal %}
    <a href="{% url todo-lists %}"><img src="/site_media/files_32.png" >Listas</a>
        
    repositorio {{ repositorio.nombre }}    
    {% ifequal view_completed 0  %}
    

	<h3>{% trans "Incomplete tasks :: Drag rows to set priorities" %}</h3>
	   
	<table border="0" id="tasktable">	
        <tr>
            <th>{% trans "Done" %}</th>             
            <th>{% trans "Task" %}</th> 
            <th>{% trans "Created" %}</th> 
            <th>{% trans "Due on" %}</th>                         
            <th>{% trans "Owner" %}</th> 
            <th>{% trans "Assigned" %}</th>   
            <th>{% trans "Note" %}</th>   
            <th>{% trans "Comm" %}</th>                            
 
            
            <th>{% trans "List" %}</th>   
                      
            {% ifequal can_del 1 %}                      
            <th>{% trans "Del" %}</th>
	    {% endifequal %}
             
        </tr>
		{% for task in task_list %}
	        <tr class="{% cycle 'row1' 'row2' %}" id="{{ task.id }}">
		{% ifequal task.assigned_to request.user %}		
		
	            <td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td>
		{% else %}
		<td></td>
		{% endifequal%}
	            <td><a href="{% url todo-task_detail task.id %}">{{ task.title|truncatewords:20 }}</a></td> 
	            <td>{{ task.created_date|date:"m/d/Y" }}</td> 
	            <td>
	            {% if task.overdue_status %}<span class="overdue">{% endif %}
	                {{ task.due_date|date:"m/d/Y" }}  
	            {% if task.overdue_status %}</span>{% endif %}	                
	            </td>
	            <td>{{ task.created_by }}</td> 
	            <td>{{ task.assigned_to }}</td>
	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
	            <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}
                   
	            </td>	            
	            
                    <td><a href="{% url todo-incomplete_tasks task.list.grupo.id task.list.id task.list.slug %}">{{ task.list }}</a></td>   
                
                     {% ifequal can_del 1 %}  
	            <td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td> 
	            
		    {% endifequal %}
            </tr>
	    {% endfor %}
	</table>   
    <p><input type="submit" name="mark_tasks_done" value={% trans "Continue..." %}  class="todo-button"></p>
    
    <p><a  class="todo" href="{% url todo-completed_tasks repo_id list_id list_slug %}">{% trans "View completed tasks" %}</a></p>
    {% endifequal %}    

    {{ miembro_creador.usuario.username }}
    {% ifequal view_completed 1 %}
	<h3>Completed tasks</h3> 

	<table border="0"  id="tasktable">	
        <tr>
            <th>{% trans "Undo" %}</th> 
            <th>{% trans "Task" %}</th> 
            <th>{% trans "Created" %}</th> 
            <th>{% trans "Completed on" %}</th>   
            <th>{% trans "Note" %}</th>   
            <th>{% trans "Comm" %}</th>            
            {% ifequal list_slug "mine" %}
            <th>List</th>   
            {% ifequal can_del 1 %}                        
            <th>{% trans "Del" %}</th>
	    {% endifequal %}
	    {% endifequal %}
        </tr>

        
		{% for task in completed_list %}
	        <tr class="{% cycle 'row1' 'row2' %}">   
		{% ifequal task.assigned_to request.user %}
	            <td><input type="checkbox" name="undo_completed_task" value="{{ task.id }}" id="id_undo_completed_task{{ task.id }}">   </td> 	            	            	            
		{% else %}
		<td></td>
		{% endifequal%}	           
		    <td><a href="{% url todo-task_detail task.id %}">{{ task.title|truncatewords:20 }}</a></td> 
	            <td>{{ task.created_date|date:"m/d/Y" }}</td> 
	            <td>{{ task.completed_date|date:"m/d/Y" }}</td>	     
	            <td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
	            <td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}
	            {% ifequal list_slug "mine" %}
                <td><a href="{% url todo-incomplete_tasks repo_id task.list.id task.list.slug %}">{{ task.list }}</a></td>   
                 {% ifequal can_del 1 %}
	            <td><input type="checkbox" name="del_completed_task" value="{{ task.id }}" id="del_completed_task_{{ task.id }}">   </td> 	            	            
		{% endifequal %}		
		{% endifequal %}            
            </tr>
	    {% endfor %}

	</table>
	<p><input type="submit" name="deldonetasks" value="Continue..."  class="todo-button"></p>
	</form> 
    <p><a  class="todo" href="{% url todo-incomplete_tasks repo_id list_id list_slug %}">{% trans "View incomplete tasks" %}</a></p>
    {% endifequal %}    
	
	{% ifequal can_del 1 %}
	{% ifnotequal list_slug "mine" %}    
	   <p><a class="todo" href="{% url todo-del_list list_id list_slug %}">{% trans "Delete this list" %}</a></p>
	{% endifnotequal %}
	{% endifequal %}
	
    {% endifequal %}
{% endblock %}