{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
    <div class="clearfix padtop">
    <div id="basic-form" class="left-form">
    <fieldset>
        <legend>{% trans "Log In" %}</legend>
        
        {% if user.is_authenticated %}
            <p><span class="warning">{% trans "Warning" %}</span>: {% blocktrans %}you are logged as {{ user }}.{% endblocktrans %}</p>
        {% else %}
            {% url cuenta.views.registro as registro_url %}
            <p>{% blocktrans %}You don't have an account?, get it <a href="{{ registro_url }}">Sign Up Now</a>!{% endblocktrans %}</p>
        {% endif %}
        
        <form class="login" method="POST" action="">
            <table>
                <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
                {% for field in form %}
                    {% if field.errors %}<tr><td colspan="2">{{ field.errors }}</td></tr>{% endif %}
                    <tr><td width="100px">{{ field.label_tag }}</td><td>{{ field }}</td></tr>
                    {% if field.help_text %}<tr><td colspan="2"><span>{{ field.help_text }}</span></td></tr>{% endif %}
                {% endfor %}
                <tr><td></td><td><input type="submit" value="{% trans "Sign In &raquo;" %}" class="button" /></td></tr>
            </table>
            <a href="{% url cuenta.views.password_reset %}">{% trans "Forget the password ?" %}</a>
        </form>
        </fieldset>
    </div>
    <div class="right-form"><cite>
    	{% blocktrans %}
		Para acceder al sistema es necesario que estes registrado previamente. en caso de perdida o extravio de contraseña, puede usar la opcion 
		{% endblocktrans %} 
		<a href="{% url cuenta.views.password_reset %}">{% trans "Restablecer Contraseña." %}</a><p>{% blocktrans %}Cualquier consulta o sugerencia, contacte al administrador {% endblocktrans %}<a href="mailto:inturiasgary@gmail.com">{% trans "Admin."%}</a></p>

		</cite>
    </div>
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}