{% extends "cuenta/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Resetear Contraseña" %}{% endblock %}

{% block body %}
    <h1>{% trans "Resetear contraseña" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Nota" %}</span>: {% blocktrans %}Iniciaste sesión como <b>{{ user }}</b>.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "¿Olvidaste tu contraseña ? Ingrese su direccion e-mail abajo. enviaremos una nueva contraseña a tu email." %}</p>
    
    <form action="" method="POST">
        <table>
            {{ password_reset_form.as_table }}
            <tr><td></td><td><input type="submit" value="{% trans "Reset my password" %}" /></td></tr>
        </table>
    </form>
    
    <p>{% blocktrans %}Si tienes algun problema reseteando la contraseña, contacta a <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
