{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bienvenido"%}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %} {% comment %} para poder verificar que tab mostrar en home page {% endcomment %}

{% block body %}

<div class="imagen_portada">
	<img src="/site_media/collaborative.jpg" alt="Collaborative"/>
</div>

<div class="welcome">
    {% blocktrans %}
	<h1>Bienvenido</h1>
        <p><b>GME</b> Bienvenidos al sistema de notificación de commits de repositorios versionados con el sistema de control de versiones git.</p>
	{% endblocktrans %}
<img src="/site_media/informacion.png" alt="Información" />
<p>
	{% blocktrans %}       
        Las facilidades que le brinda el sistema son:
		<ul>
			<li>Conocer nuevas personas.</li>
			<li>Crear una cuenta para integrar las notificaciones de los commits realizados en sus repositorios.</li>
			<li>publicar ¿que esta haciendo?, en el microblog global y en el dedicado para repositorios.</li>
			<li>Administrar los integrantes dentro de cada equipo de desarrollo en sus repositorios.</li>
			<li>Realizar lista de tareas, y asignarlas a los integrantes de su equipo de desarrollo.</li>
			<li>Realizar consultas y actualizar su estado de manera rápida.</li>
		</ul>
    {% endblocktrans %}
	<p><span class="warning">{% trans "Warning" %}:</span>{% trans " Para poder interactuar mediante el interprete de comandos de tu sistema y el sistema Web microblog, necesitas configurar el siguiente programa. " %}<a href="/site_media/publicar.py">{% trans "GmeClient "%}</a></p>
	<p>{% blocktrans %}El siguiente paso, es crear un enlace simbólico para que funcione el programa, hay varias formas de realizar esto, Una de las mas convenientes, en Linux, Mac OSX u otros sistemas como Unix seria de la siguiente forma:{% endblocktrans %}
	</p>
	<code>ln -s `pwd`/gme.py /usr/local/bin
	</code><br><br>
	{% blocktrans %} Entonces el comando ya estará disponible. Para poder hacer uso del comando, ejecuta{% endblocktrans %} "gme -h" {% blocktrans%} En el interprete de comandos, Para ver las opciones. {% endblocktrans %}
		
</p>
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_registro as registro_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Puedes registrarte en <a href="{{ registro_url }}">Registrate</a> e <a href="{{ login_url }}">Ingresa</a> para utilizar las herramientas de este sitio. {% endblocktrans %}</p>
    {% endif %}
</div>

{% endblock %}
