{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bienvenido"%}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %} {% comment %} para poder verificar que tab mostrar en home page {% endcomment %}

{% block body %}
    {% blocktrans %}
        <p><b>GME</b> Bienvenidos al sistema de notificacion de commit de repositorios con git</p>
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_registro as registro_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Puedes registrarte en <a href="{{ registro_url }}">Registrate</a> y <a href="{{ login_url }}">Ingresa</a> para utilizar este sitio. {% endblocktrans %}</p>
    {% endif %}
{% endblock %}