{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Bienvenido"%}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %} {% comment %} para poder verificar que tab mostrar en home page {% endcomment %}

{% block body %}
<div class="left-form">
    {% blocktrans %}
        <p><b>GME</b> Bienvenidos al sistema de notificacion de commit de repositorios con git</p>
        Aqui usted podra, compartir las notificaciones con los usuario de esta red, como asi tambien podrá notificar de manera
        privada las acciones que realiza dentro de un repositorio hacia su equipo de desarrollo, controlar sus tareas asignadas
        , publicar mensajes breves.
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_registro as registro_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Puedes registrarte en <a href="{{ registro_url }}">Registrate</a> y <a href="{{ login_url }}">Ingresa</a> para utilizar este sitio. {% endblocktrans %}</p>
    {% endif %}
</div>

<div class="right-form">
    <h1>Noticias </h1>
    {% if repos %}
    hay repos
        {% for a in repos %}
            {{ a.nombre }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}