{% extends "site_base.html" %}
{% block extra_head %}
<link type="text/css" href="/site_media/todo/css/styles.css" rel="stylesheet" />
{% endblock %}
{% load i18n %}

{% block rtab_id %}id="microblog_tab"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url mic_index %} ">{% trans "Global" %}</a></li>
            <li><a href="{% url repo_index %} ">{% trans "Repositorios" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body%}

{% endblock %}

{% block busqueda %}
{% endblock %}
