{% extends "microblog/base.html" %}

{% load i18n %}

{% load pagination_tags %}

{% block head_title %}{% trans "Repository Information" %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            {% comment %}<li><a href="{% url mic_index %}">{% trans "Estadistica" %}</a></li>{% endcomment %}
            <li><a href="{% url todo-mine repositorio.id %}">{% trans "ToDo" %}</a></li>
            <li><a href="{% url repo_miembros repositorio.nombre %}">{% trans "Miembros"%}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
<div id="entries">
    <h1>Repositorio: {{ repositorio.nombre }}</h1>
    <p><a href="#" onclick="$('#repositorio_info').toggle(); return false;"><img src="/site_media/masInfo.jpeg" >{% trans "Information" %}</a></p>
    {% if repositorio %}
        <div class="repositorio_info">
            <fieldset id="repositorio_info" style="display: none;">
                <legend>{% trans "Repository information" %}</legend>
                <dl>
                <table>
                    <dt width="100px">{% trans "Name:" %}</dt> <dd>{{ repositorio.nombre }}</dd>
                    <dt width="100px">{% trans "Admin:" %}</dt> <dd><a href="{% url detalle_perfil miembro_creador.usuario.username %}">{{ miembro_creador.usuario.username }}</a></dd>
                    <dt width="100px">{% trans "Description:" %}</dt> <dd>{{ repositorio.descripcion }}</dd>
                    <dt width="100px">{% trans "Created:" %}</dt> <dd>{{ repositorio.fecha|date:"d M Y" }}</dd>
                    <dt width="100px">{% trans "Web Link:" %}</dt> <dd>{{ repositorio.direccionWeb|urlize }}</dd>
                    <dt width="100px">{% trans "Administrator email:" %}</dt> <dd>{{ repositorio.emailAdmin }}</dd>
                </table>
                </dl>
                {% ifequal is_me 1 %}
                    <table>
                        <tr>
                            <td>
                                <form method="post" action="{% url edit_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" name="do" value="edit"></form></td><td><form method="post" action="{% url delete_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" value="delete"></form>
                            </td>
                        </tr>
                    </table>
                {% endifequal %}
            </fieldset>
        </div>
    {% endif %}    
    {% ifequal miembro_activo "peticion" %}
        <p>{% trans "nota: Se encuentra en peticion, Aun no puedes publicar commits." %}</p>
    {% else %}
        {% ifequal miembro_activo 0 %}
            <table><tr><td><form method="post" action="{% url edit_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" name="do" value="activarme"></form></td></tr></table>
        {% endifequal %}
    {% endifequal %}

<h1>{% trans "Acciones Realizadas en el repositorio" %}:</h1>    
{% if commits %}
    {% autopaginate commits 10 %}
    {% for commit in commits %}
        {% ifchanged %}
            <div class="date">{{commit.fecha|date:"l, j F Y"}}</div>
        {% endifchanged %}
        <div class="stream">
            <cite>Commit realizado por <a href="{% url detalle_perfil user.username %}">{{ commit.usuario.username }}</a> hace  {{ commit.fecha|timesince }}</cite>
            <div id="caja">
                <div class="redondeado{{ commit.tipo }} r1"></div>
                <div class="redondeado{{ commit.tipo }} r2"></div>
                <div class="redondeado{{ commit.tipo }} r3"></div>
                <div class="redondeado{{ commit.tipo }} r4"></div>
                <div class="redondeado{{ commit.tipo }} r5"></div>
                <div class="redondeado{{ commit.tipo }} r6"></div>
                <div class="redondeado{{ commit.tipo }} r7"></div>
                <div class="redondeado{{ commit.tipo }} r8"></div>
                <div class="redondeado{{ commit.tipo }} r9"></div>
                <div class="redondeado{{ commit.tipo }} contenido">{{ commit.descripcion|striptags|truncatewords:"140"|linebreaksbr|urlize }}</div>
                <div class="redondeado{{ commit.tipo }} r9"></div>
                <div class="redondeado{{ commit.tipo }} r8"></div>
                <div class="redondeado{{ commit.tipo }} r7"></div>
                <div class="redondeado{{ commit.tipo }} r6"></div>
                <div class="redondeado{{ commit.tipo }} r5"></div>
                <div class="redondeado{{ commit.tipo }} r4"></div>
                <div class="redondeado{{ commit.tipo }} r3"></div>
                <div class="redondeado{{ commit.tipo }} r2"></div>
                <div class="redondeado{{ commit.tipo }} r1"></div>
            </div>
        </div>
    {% endfor %}
    {% paginate %}
{% else %}
    <h3>No se encontraron acciones realizadas.</h3>
{% endif %}
</div>

<div id="rigth-repositorio">
    <div id="cod-colores">
        {% trans "Codigo de colores" %}:
        <div id="colors">Acciones en sistema web</div>
        <div id="colorr">Acciones en repositorio</div>
        <div id="colorc">Anuncios publicados</div>
    </div>
</div>
    
{% endblock %}
{% block extra_body %}
    <script type="text/javascript">
        $().ready(function() {
            {% if repositorio_info.errors %}
                $('#repositorio_info').show();
            {% endif %}
        });
    </script>
{% endblock %}
