{% extends "repositorio/base.html" %}

{% load i18n %}

{% block head_title %}Informacion Repositorio{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url mic_index %}">{% trans "Estadistica" %}</a></li>
            <li><a href="{% url todo-mine repositorio.id %}">{% trans "ToDo" %}</a></li>
            <li><a href="{% url repo_miembros repositorio.nombre %}">{% trans "Miembros"%}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
<h1>Repositorio: {{ repositorio.nombre }}</h1>
<p><a href="#" onclick="$('#repositorio_info').toggle(); return false;">{% trans "Information" %}</a></p>

{% if repositorio %}
    <div class="repositorio_info">
    <fieldset id="repositorio_info" style="display: none;">
        <legend>{% trans "Repository information" %}</legend>
        <table>
            <tr>
                <td width="100px">{% trans "Name:" %}</td> <td>{{ repositorio.nombre }}</td>
            </tr>
            <tr>
                <td width="100px">{% trans "Admin:" %}</td> <td><a href="{% url detalle_perfil miembro_creador.usuario.username %}">{{ miembro_creador.usuario.username }}</a></td>
            </tr>
            <tr>
                <td width="100px">{% trans "Description:" %}</td> <td>{{ repositorio.descripcion }}</td>
            </tr>
            <tr>
                <td width="100px">{% trans "Created:" %}</td> <td>{{ repositorio.fecha }}</td>
            </tr>
            <tr>
                <td width="100px">{% trans "Web Link:" %}</td> <td>{{ repositorio.direccionWeb }}</td>
            </tr>
            <tr>
                <td width="100px">{% trans "Administrator email:" %}</td> <td>{{ repositorio.emailAdmin }}</td>
            </tr>
        </table>
    </fieldset>
</div>
{% else %}
{% endif %}
Identificacion del repositorio:{{ repositorio.id }}
    {% ifequal is_me 1 %}
        <table>
        <tr><td><form method="post" action="{% url edit_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" name="do" value="edit"></form></td><td><form method="post" action="{% url delete_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" value="delete"></form></td></tr>          
        </table>    
    {% endifequal %}
    
    {% ifequal miembro_activo "peticion" %}
        <p>nota: Se encuentra en peticion, Aun no puedes publicar commits.</p>
    {% else %}
        {% ifequal miembro_activo 0 %}
            <table><tr><td><form method="post" action="{% url edit_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio.id }}"><input type="submit" name="do" value="activarme"></form></td></tr></table>
        {% endifequal %}
    {% endifequal %}

<h1>Commits Realizados:</h1>    
{% if commits %}
    {% for commit in commits %}
        <p><li>Commit realizado por {{ commit.usuario.username }} hace  {{ commit.fecha|timesince }}
            <ul>
                {{ commit.descripcion }}
            </ul>
        </li></p>
    {% endfor %}
{% else %}
<h3>No se encontraron acciones realizadas.</h3>
{% endif %}
    
{% endblock %}
{% block extra_body %}
    <script type="text/javascript">
        $().ready(function() {
            {% if repositorio_info.errors %}
                $('#repositorio_info').show();
            {% endif %}
        });
    </script>
{% endblock %}