{% extends "repositorio/base.html" %}

{% load i18n %}

{% block meta %}{{ block.super }}

{% endblock meta %}

{% block body %}{{ block.super }}

{% if user.is_authenticated %}
    {{ form_buscar.as_p  }}

    <p><h1>{% trans "Repositories" %}</h1></p>
    
    {% include "repositorio/repositorios_mios.html" %}
    
    <h1>Repositorios donde participo</h1>
    
    {% include "repositorio/repositorios_participo.html" %}
    
    <h1>Repositorios por participar(Pendientes)</h1>
    
    {% include "repositorio/repositorios_participar.html" %}

{% else %}
    {% trans "No estas logeado" %}
{% endif %}
{% endblock body %}

