{% extends "repositorio/base.html" %}

{% load i18n %}

{% block meta %}{{ block.super }}

{% endblock meta %}

{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    {% include "repositorio/form_search.html"%}

    <p><h1>{% trans "Repositories" %}</h1></p>
    
    {% include "repositorio/repositorios_mios.html" %}
    
    <p><h1>{% trans "Another repositories" %}</h1></p>
    
    {% include "repositorio/repositorios_participo.html" %}
    
    <p><h1>{% trans "Repositories pending still" %}</h1></p>
    
    {% include "repositorio/repositorios_participar.html" %}

{% else %}
    <p><span class="warning">{% trans "Warning" %}</span>{% trans "No estas logeado" %}</p>
{% endif %}
{% endblock %}

