{% load i18n %}

{% block body %}
    {% load pagination_tags %}
        <div class="entradas">
            <p><h1>{% trans "Resultados de Busqueda." %}</h1></p>
            {% if repositorios_encontrados.count %}
                <div>
                    {% autopaginate repositorios_encontrados 10 %}
                    {% for repositorio_encontrado in repositorios_encontrados %}
                    <ul>
                        <li><a href="{{ repositorio_encontrado.get_absolute_url }}">{{ repositorio_encontrado.nombre }}</a></li>
                        {% if repositorio_encontrado.descripcion %}                    
                            <p>{{ repositorio_encontrado.descripcion }}</p>
                        {% else %}
                            <p><span class="warning">{% trans "Warning" %}:</span>{% trans " No hay descripcion." %}</p>
                        {% endif %}
                    </ul>                
                    {% endfor %}
                    {% paginate %}
                </div>
            {% else %}
                <p><span class="warning">{% trans "Warning" %}:</span>{% trans " No se encontraron repositorios." %}</p>
            {% endif %}
        </div>
{% endblock %}