{% load i18n %}
{% load pagination_tags %}
<div class="entradas">
    {% if repositorios_pendiente.count %}
    <h2>{% trans "Los repos." %}</h2>

    <div>
        {% autopaginate repositorios_pendiente 10 %}
        {% for repositorio_pendiente in repositorios_pendiente %}
        <div class="entrada" id="entrada_{{ entrada.id }}">
            <a href="{{ repositorio_pendiente.get_absolute_url }}">{{ repositorio_pendiente.nombre }}</a>
            @
            <a href="{{ repositorio_pendiente.fecha }}">{{ repositorio_pendiente.fecha }}</a>
            :

            <p>
            {{ repositorio_pendiente.descripcion|linebreaksbr|urlize }}
            </p>
            <table><tr><td><form method="post" action="{% url edit_repositorio %}"><input type="hidden" name="repositorio" value="{{ repositorio_pendiente.id }}"><input type="submit" name="do" value="eliminar participacion"></form></td></tr></table>
        </div>
        {% endfor %}
        {% paginate %}
    </div>
    {% else %}
    <p>{% trans "Aun no ingresaste a ningun repo." %}</p>
    {% endif %}
</div>